<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>
        <property name="hibernate.connection.username">sys as sysdba</property>
        <property name="hibernate.connection.password">30122002</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//localhost:1521/pdb_learning</property>

        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.use_identifier_rollback">true</property>
        <property name="format_sql">true</property>
        <property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>